<head>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>REZERWACJA BILETÓW</b>
                </div>
                <div class="card-body">
                        Ponieważ jesteś niezalogowany, musisz wybrać poniżej, w jaki sposób chcesz wykonać swoją rezerwację.
                        <br>
                        <a href="/cart/delivery-and-payment" class="selection-buttons btn btn-success mx-2 btn-lg" role="button" style="margin-top: 35px">BEZ LOGOWANIA</a>
                        <br>
                        <a href="/login" class="selection-buttons btn btn-success mx-2 btn-lg" role="button">ZALOGUJ SIĘ</a>
                        <br>
                        <a href="/registration" class="selection-buttons btn btn-success mx-2 btn-lg" role="button">ZAREJESTRUJ SIĘ</a>
                </div>
            </div>
        </div>
    </div>
</center>
