<div style="text-align: center; margin: 15%;">
    <p class="display-4" style="font-size: 45px;">Rezerwacja zakończona pomyślnie.</p>
    <a href="/" class="cart-buttons btn btn-success mx-2 btn-lg" role="button">STRONA GŁÓWNA</a>
</div>

<script>
    setTimeout(() => {
        window.location.href='/';
    }, 5000);
</script>