<head>
    <link rel="stylesheet" href="/stylesheets/registration_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <b>REJESTRACJA</b>
                </div>
                <div class="card-body">
                    <form action="/registration" method="POST">
                        <input class="registration-inputs" type="text" name="new_name" placeholder="Imię" required>
                        <input class="registration-inputs" type="text" name="new_surname" placeholder="Nazwisko" required>
                        <br>
                        <input class="registration-inputs" type="text" name="new_street" placeholder="Ulica" required>
                        <input class="registration-inputs" type="text" name="new_street_number" placeholder="Nr domu/lokalu" required>
                        <br>
                        <input class="registration-inputs" type="text" name="new_postcode" placeholder="Kod pocztowy" required>
                        <input class="registration-inputs" type="text" name="new_city" placeholder="Miasto" required>
                        <br>
                        <input class="registration-inputs" type="email" name="new_email" placeholder="E-mail" required>
                        <input class="registration-inputs" type="text" name="new_phone_number" placeholder="Telefon" required>
                        <br>
                        <input class="registration-inputs" type="password" name="new_password" placeholder="Hasło" required>
                        <input class="registration-inputs" type="password" name="new_password_repeat" placeholder="Powtórz hasło" required>
                        <br>
                        <div class="g-recaptcha" data-sitekey="6LcrreYUAAAAAGeERM9Etdv8wlh81RCSK0LXuwfX"></div>
                        <br>
                        <input class="btn btn-success btn-lg" type="submit" name="new_account" value="ZAŁÓŻ KONTO">
                        <br>
                        {{ message }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
